<div class="card">

  <!-- Cabecera de la tabla -->
  <div class="table-header">
    <h2>Suppliers</h2>
    <div class="table-actions">
      <button nz-button nzType="primary" nzValue="large" (click)="toggleForm()">Add Supplier</button>
    </div>
  </div>

  <!-- Formulario para agregar un nuevo proveedor -->
  <div *ngIf="isFormVisible" class="new-supplier-modal">
    <div class="modal-content">
      <h4>New Supplier</h4>

      <label>
        Supplier Name:
        <input type="text" [(ngModel)]="newSupplier.name" placeholder="Enter supplier name" />
      </label>

      <label>
        Direction:
        <input type="text" [(ngModel)]="newSupplier.direction" placeholder="Enter direction" />
      </label>

      <label>
        Phone:
        <input type="text" [(ngModel)]="newSupplier.phone" placeholder="Enter phone number" />
      </label>

      <label>
        Email:
        <input type="email" [(ngModel)]="newSupplier.email" placeholder="Enter email address" />
      </label>

      <div class="button-container">
        <button class="discard-button" (click)="toggleForm()">Discard</button>
        <button class="add-button" (click)="addSupplier()">Add Supplier</button>
      </div>
    </div>
  </div>

  <!-- Tabla para mostrar la lista de proveedores -->
  <nz-table
    [nzData]="filteredSuppliers"
    [nzBordered]="true"
    [nzSize]="'middle'"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Direction</th>
        
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of filteredSuppliers">
        <td>{{ supplier.id }}</td>
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.direction }}</td>
        <td>{{ supplier.phone }}</td>
        <td>{{ supplier.email }}</td>
      </tr>
    </tbody>
  </nz-table>

  <!-- Paginación -->
  <div class="table-pagination">
    <nz-pagination
      [nzPageSize]="pageSize"
      [nzTotal]="listOfSuppliers.length"
      [(nzPageIndex)]="pageIndex"
      (nzPageIndexChange)="onPageChange($event)"
    ></nz-pagination>
  </div>

</div>
